.name {
	color: #f26522;
}
.new-patient-header .identifiers {
	margin-top: 12px;
}
#main-dashboard {
	border-top: 1px bottom #ddd;
	height: 520px;
	margin-top: 3px;
	background: rgba(0, 0, 0, 0) url("../images/dashboard.png") no-repeat scroll 0 0 / 100% auto;
}

#main-dashboard i{
	color: #fff;
    font-size: 2.9em;
}

#main-dashboard span{
	color: #fff;
    font-size: 0.9em;
	font-weight: bold;
}

#main-dashboard #queue{
	border: 1px none #ddd;
    cursor: pointer;
	float: left;
    height: 15.0%;
    left: 41.7%;
    padding: 13px 0 0;
    position: relative;
    text-align: center;
    top: 21.5%;
    width: 17.8%;
}

#main-dashboard #dispense{
	border: 1px none #ddd;
    cursor: pointer;
    float: left;
    height: 14.7%;
    left: 42.6%;
    padding: 13px 0 0;
    position: relative;
    text-align: center;
    top: 21.7%;
    width: 17.8%;
}
#main-dashboard #patient{
	border: 1px none #ddd;
    cursor: pointer;
    float: left;
    height: 14.7%;
    left: 6%;
    padding: 13px 0 0;
    position: relative;
    text-align: center;
    top: 40.1%;
    width: 17.8%;
}
#main-dashboard #stock{
	border: 1px none #ddd;
    cursor: pointer;
    float: left;
    height: 14.7%;
    left: -48.6%;
    padding: 13px 0 0;
    position: relative;
    text-align: center;
    top: 58.1%;
    width: 17.8%;
}
#main-dashboard #expired{
	border: 1px none #ddd;
    cursor: pointer;
    float: left;
    height: 14.7%;
    left: -48.1%;
    padding: 13px 0 0;
    position: relative;
    text-align: center;
    top: 58.1%;
    width: 17.8%;
}
#main-dashboard #accounts{
	border: 1px none #ddd;
    cursor: pointer;
    float: left;
    height: 14.7%;
    left: 24%;
    padding: 13px 0 0;
    position: relative;
    text-align: center;
    top: 41.1%;
    width: 17.8%;
}
#main-dashboard #indent{
	border: 1px none #ddd;
    cursor: pointer;
    float: left;
    height: 14.7%;
    left: -12.3%;
    padding: 13px 0 0;
    position: relative;
    text-align: center;
    top: 59.7%;
    width: 17.8%;
}