table{
	margin-top: 5px!important;
}

table a{
	cursor: pointer;
}

td a:hover{
	text-decoration: none;
	color: #00f;
	animation-duration: 4s;
}

.toast-item {
	background-color: #222!important;
}

.add-on{
	color: #f26522;
	cursor: pointer;
}

.name {
	color: #f26522;
}
.new-patient-header .demographics {
    float: none!important;
    margin-top: 5px;
}
.new-patient-header .demographics h1 span {
    font-size: 1.3em;
}
.filter{
	border-top: 1px solid #eee;
    margin-top: 5px;
    padding-top: 5px;
}
.filter div{
	display: inline-block;
}
#dispense-div .filter div{
    margin-left: 2px;
    width: 22.8%;
}
.filter label{
	padding-left: 5px
}

.filter #issueName{
	padding-left: 30px;
    width: 510px;
	
}

.footer{
	height: 50px;	
}

#fromDate label,
#toDate label,
#referred-date label{
	display: none;
}

#phrase {
	padding-left: 30px;
    width: 500px;
}

#current-div .show-icon,
#indents-div .show-icon,
#queue-div .show-icon,
#expired-div .show-icon,
#patients-div .show-icon,
#dispense-div .show-icon,
#accounts-div .show-icon {
	display: inline-block;
    float: right;
    height: 60px;
    margin-bottom: -40px;
    width: 60px;
}

#queue-div .show-icon {
    background: rgba(0, 0, 0, 0) url("../images/queue.png") no-repeat scroll 0 0 / 100% auto;    
}

#dispense-div .show-icon {
    background: rgba(0, 0, 0, 0) url("../images/dispense.png") no-repeat scroll 0 0 / 100% auto;
}

#patients-div .show-icon {
    background: rgba(0, 0, 0, 0) url("../images/search.png") no-repeat scroll 0 0 / 100% auto;
}

#accounts-div .show-icon {
    background: rgba(0, 0, 0, 0) url("../images/account.png") no-repeat scroll 0 0 / 100% auto;
}
#expired-div .show-icon {
    background: rgba(0, 0, 0, 0) url("../images/expired.png") no-repeat scroll 0 0 / 100% auto;
}
#current-div .show-icon {
    background: rgba(0, 0, 0, 0) url("../images/current.png") no-repeat scroll 0 0 / 100% auto;
}
#indents-div .show-icon {
    background: rgba(0, 0, 0, 0) url("../images/indents.png") no-repeat scroll 0 0 / 100% auto;
}
#dispense-div .add-on {
	color: #f26522;
	float: right;
	left: auto;
	margin-left: -29px;
	margin-top: 4px !important;
	position: absolute;
}

#dispense-div .chrome .add-on {
	margin-left: -31px;
	margin-top: -27px !important;
	position: relative !important;
}

input[type="text"], select {
    border: 1px solid #aaa;
    border-radius: 2px !important;
    box-shadow: none !important;
    box-sizing: border-box !important;
    height: 30px;
    padding-left: 5px;
}

#dispense-div input[type="text"]{
	width: 100%;
}

#queue-div th:first-child{
	width:5px;
}

#queue-div th:last-child{
	width:80px;
}